<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="/" module="Chapters" action="home" />
    <route url="/chapters/chapter-([0-9]+)\.html" module="Chapters" action="show" vars="id"/>
    <route url="/comments/insert-comment-([0-9]+)\.html" module="Comments" action="insert" vars="id" />
    <route url="/comments/flag-comment-([0-9]+)\.html" module="Comments" action="flag" vars="id" />
    <route url="/chapters/all.html" module="Chapters" action="all" />
    <route url="/chapters/last.html" module="Chapters" action="last" />
  </routes>
